<launch> 
  <rosparam file="$(find exoskeleton)/config/control.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="log" ns="/exoskeleton" args="joint_state_controller
                      LU_position_controller
                      RU_position_controller
                      LD_position_controller
                      RD_position_controller
                      LF_position_controller
                      RF_position_controller"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="log">
    <remap from="/joint_states" to="/exoskeleton/joint_states" />
  </node>
</launch>
