<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find exoskeleton)/worlds/exoskeleton.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find exoskeleton)/robot_description/robot.xacro'" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model exoskeleton -param robot_description
            -x 0.0 -y 0.0 -z 1.10 -R 0.0 -P 0.1 -Y 0.0
  "/>

  <node pkg="exoskeleton" type="run_balance.py" name="run_balance" output="screen"/>
  <node pkg="exoskeleton" type="set_joints.py" name="set_joints" output="screen"/>
  <node pkg="uango_ros_py" type="custom_command_service.py" name="custom_command_service" output="screen">
    <param name="only_simulator" value="true" />
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_root_frame_broadcaster" args="0 0 0 0 0 0 world waist_link" />

  <include file="$(find exoskeleton)/launch/control.launch" />

</launch>
